# Terraform directories
.terraform/**/*
**/.terraform/**
.terraform.d/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars
.terraformrc
terraform.rc

# Provider files
**/terraform-provider*
**/.terraform/providers/**

# Crash log files
crash.log
crash.*.log

# Local files
.env
*.log

# AWS credentials
.aws/
credentials
config